/* GLOBAL CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    width: 100%;
  }

  /* HEADER */

  #header{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #logo{
    padding: 8px 16px;
    background-color: #009688;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  #logo:hover{
    background-color: #CCCCCC;
    color: black;
  }
  #logo i{
    margin-right: 8px;
    font-size: 13px;
    line-height: 1;
  }
  #header-nav{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    background-color: black;
    color: white;
  }
  #nav{
    display: flex;
    flex-direction: row;
  }
  #nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: start;
    align-items: center;
  }
  .nav-list-item{
    padding: 8px 16px;
  }
  #search{
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  #search:hover{
    background-color: #009688;
  }
  #search i{
    font-size: 13px;
  }